<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <div class="holder headline">
    <h1>Travel Planner</h1>
  </div>
  <div id="app">

    <div class="holder date" id="enterstartdate">
      <label for="date">Enter start date</label>
      <input type="date" id="traveldate" placeholder="enter travel date">
    </div>
    <div class="holder date" id="enterenddate">
      <label for="date">Enter return date</label>
      <input type="date" id="returndate" placeholder="enter return date">
    </div>
    <div class="holder city" id="entercity">
      <label for="city">Enter City</label>
      <textarea class="myInput" id="city" placeholder="Enter City here" rows="1" cols="30"></textarea>
      <button id="generate" type="submit"> Generate </button>
    </div>

    <div class="holder entry" id="con">
      <div id="entryHolder">
        <div id="info" class="box"></div>
        <div id="date" class="box"></div>
        <div id="temp" class="box"></div>
        <div id="content" class="box"></div>
        <div id="length" class="box"></div>
        <div id="cityimage" class="box"></div>
      </div>
    </div>
  </div>
  <!-- <script src="app.js" type="text/javascript"></script> -->

</body>

</html>