<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div class="holder date">
      <label for="date">Enter date</label>
      <input type="date" id="traveldate" placeholder="enter travel date">
    </div>
    <div class="holder date">
      <label for="date">Enter date</label>
      <input type="date" id="returndate" placeholder="enter return date">
    </div>
    <div class="holder city">
      <label for="city">Enter City</label>
      <textarea class="myInput" id="city" placeholder="Enter City here" rows="1" cols="30"></textarea>
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry">
      <div class="title"></div>
      <div id="entryHolder">
        <div id="date"></div>
        <div id="temp"></div>
        <div id="content"></div>
        <div id="length"></div>
        <div id="cityimage"></div>
      </div>
    </div>
  </div>
  <!-- <script src="app.js" type="text/javascript"></script> -->

</body>

</html>